projects/travel-suite/n8n/workflows/daily-briefing.json
{
  "name": "GoBuddy Daily Trip Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "7am Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [220, 300],
      "notes": "Runs at 7:00 AM every day"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  t.id as trip_id,\n  t.client_id,\n  t.start_date,\n  t.end_date,\n  p.full_name as client_name,\n  p.email as client_email,\n  i.trip_title,\n  i.destination,\n  i.raw_data as itinerary_data,\n  EXTRACT(DAY FROM (CURRENT_DATE - t.start_date)) + 1 as current_day_number\nFROM trips t\nJOIN profiles p ON t.client_id = p.id\nJOIN itineraries i ON t.itinerary_id = i.id\nWHERE t.status = 'in_progress'\n  AND t.start_date <= CURRENT_DATE\n  AND t.end_date >= CURRENT_DATE",
        "additionalFields": {}
      },
      "id": "get-active-trips",
      "name": "Get Active Trips",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      },
      "notes": "Fetch all trips currently in progress"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  tda.trip_id,\n  tda.day_number,\n  tda.pickup_time,\n  tda.pickup_location,\n  ed.full_name as driver_name,\n  ed.phone as driver_phone,\n  ed.vehicle_type,\n  ed.vehicle_plate\nFROM trip_driver_assignments tda\nJOIN external_drivers ed ON tda.external_driver_id = ed.id\nWHERE tda.trip_id = '{{ $json.trip_id }}'\n  AND tda.day_number = {{ $json.current_day_number }}",
        "additionalFields": {}
      },
      "id": "get-driver-assignment",
      "name": "Get Today's Driver",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [660, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ta.trip_id,\n  ta.day_number,\n  ta.hotel_name,\n  ta.address,\n  ta.check_in_time,\n  ta.contact_phone\nFROM trip_accommodations ta\nWHERE ta.trip_id = '{{ $json.trip_id }}'\n  AND ta.day_number = {{ $json.current_day_number }}",
        "additionalFields": {}
      },
      "id": "get-accommodation",
      "name": "Get Today's Hotel",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [660, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge trip data with driver and accommodation info\nconst trip = $('Get Active Trips').item.json;\nconst driver = $('Get Today\\'s Driver').item?.json || null;\nconst hotel = $('Get Today\\'s Hotel').item?.json || null;\n\n// Parse itinerary data to get today's activities\nlet todayActivities = [];\ntry {\n  const itinerary = typeof trip.itinerary_data === 'string' \n    ? JSON.parse(trip.itinerary_data) \n    : trip.itinerary_data;\n  \n  if (itinerary?.days) {\n    const today = itinerary.days.find(d => d.day === trip.current_day_number);\n    todayActivities = today?.activities || [];\n  }\n} catch (e) {\n  console.log('Could not parse itinerary:', e);\n}\n\n// Format notification message\nlet briefingMessage = `🌅 Good morning! Here's your Day ${trip.current_day_number} briefing for ${trip.destination}:\\n\\n`;\n\nif (driver) {\n  briefingMessage += `🚗 Your Driver Today:\\n`;\n  briefingMessage += `• ${driver.driver_name}\\n`;\n  briefingMessage += `• ${driver.vehicle_type} (${driver.vehicle_plate})\\n`;\n  briefingMessage += `• Pickup: ${driver.pickup_time || 'See itinerary'} at ${driver.pickup_location || 'Hotel'}\\n`;\n  briefingMessage += `• Contact: ${driver.driver_phone}\\n\\n`;\n}\n\nif (todayActivities.length > 0) {\n  briefingMessage += `📋 Today's Activities:\\n`;\n  todayActivities.forEach((activity, i) => {\n    briefingMessage += `${i + 1}. ${activity.time || ''} ${activity.title}\\n`;\n  });\n  briefingMessage += `\\n`;\n}\n\nif (hotel) {\n  briefingMessage += `🏨 Tonight's Stay:\\n`;\n  briefingMessage += `• ${hotel.hotel_name}\\n`;\n  briefingMessage += `• ${hotel.address || 'Address in app'}\\n`;\n  briefingMessage += `• Check-in: ${hotel.check_in_time || '15:00'}\\n`;\n}\n\nbriefingMessage += `\\n✨ Have an amazing day!`;\n\nreturn {\n  trip_id: trip.trip_id,\n  client_id: trip.client_id,\n  client_name: trip.client_name,\n  client_email: trip.client_email,\n  day_number: trip.current_day_number,\n  destination: trip.destination,\n  driver: driver,\n  hotel: hotel,\n  notification: {\n    title: `Day ${trip.current_day_number} - ${trip.destination}`,\n    body: briefingMessage\n  }\n};"
      },
      "id": "format-briefing",
      "name": "Format Daily Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "notes": "Combine all data into notification format"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT expo_push_token, device_type\nFROM push_tokens\nWHERE user_id = '{{ $json.client_id }}'\n  AND is_active = true",
        "additionalFields": {}
      },
      "id": "get-push-tokens",
      "name": "Get Push Tokens",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1100, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://exp.host/--/api/v2/push/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Get Push Tokens').item.json.expo_push_token }}"
            },
            {
              "name": "title",
              "value": "={{ $('Format Daily Briefing').item.json.notification.title }}"
            },
            {
              "name": "body",
              "value": "={{ $('Format Daily Briefing').item.json.notification.body }}"
            },
            {
              "name": "sound",
              "value": "default"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ type: 'daily_briefing', tripId: $('Format Daily Briefing').item.json.trip_id, dayNumber: $('Format Daily Briefing').item.json.day_number }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-push-notification",
      "name": "Send Push Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1320, 300],
      "notes": "Send to Expo Push API"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "notification_logs",
        "columns": "trip_id, recipient_id, notification_type, title, body, status, sent_at",
        "additionalFields": {}
      },
      "id": "log-notification",
      "name": "Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1540, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      },
      "notes": "Record in notification_logs table"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-driver",
              "leftValue": "={{ $json.driver }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ]
        }
      },
      "id": "if-has-driver",
      "name": "Has Driver?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 520]
    },
    {
      "parameters": {
        "jsCode": "// Generate WhatsApp link for driver notification\nconst briefing = $('Format Daily Briefing').item.json;\nconst driver = briefing.driver;\n\nif (!driver || !driver.driver_phone) {\n  return { skip: true };\n}\n\nconst phone = driver.driver_phone.replace(/\\D/g, '');\nconst message = `📋 Trip Assignment - ${briefing.destination}\\n\\n` +\n  `Client: ${briefing.client_name}\\n` +\n  `Day: ${briefing.day_number}\\n` +\n  `Pickup: ${driver.pickup_time || 'See schedule'} at ${driver.pickup_location || 'Hotel'}\\n\\n` +\n  `Please confirm receipt. Thank you!`;\n\nconst encoded = encodeURIComponent(message);\nconst whatsappLink = `https://wa.me/${phone}?text=${encoded}`;\n\nreturn {\n  driver_phone: driver.driver_phone,\n  whatsapp_link: whatsappLink,\n  message: message\n};"
      },
      "id": "generate-whatsapp",
      "name": "Generate WhatsApp Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 520],
      "notes": "Create WhatsApp message link for driver"
    }
  ],
  "connections": {
    "7am Daily Trigger": {
      "main": [
        [
          {
            "node": "Get Active Trips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Trips": {
      "main": [
        [
          {
            "node": "Get Today's Driver",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Today's Hotel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Driver": {
      "main": [
        [
          {
            "node": "Format Daily Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Hotel": {
      "main": [
        [
          {
            "node": "Format Daily Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily Briefing": {
      "main": [
        [
          {
            "node": "Get Push Tokens",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Driver?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Push Tokens": {
      "main": [
        [
          {
            "node": "Send Push Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Push Notification": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Driver?": {
      "main": [
        [
          {
            "node": "Generate WhatsApp Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "notifications"
    },
    {
      "name": "scheduled"
    }
  ],
  "triggerCount": 1
}
