projects/travel-suite/n8n/workflows/review-request.json
{
  "name": "GoBuddy Review Request (After Trip)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "10am Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [220, 300],
      "notes": "Runs at 10:00 AM to check for trips that ended yesterday"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  t.id as trip_id,\n  t.client_id,\n  t.start_date,\n  t.end_date,\n  p.full_name as client_name,\n  p.email as client_email,\n  i.trip_title,\n  i.destination,\n  i.duration_days\nFROM trips t\nJOIN profiles p ON t.client_id = p.id\nJOIN itineraries i ON t.itinerary_id = i.id\nWHERE t.status = 'in_progress'\n  AND t.end_date = CURRENT_DATE - INTERVAL '1 day'\n  AND NOT EXISTS (\n    SELECT 1 FROM notification_logs nl\n    WHERE nl.trip_id = t.id\n    AND nl.notification_type = 'review_request'\n  )",
        "additionalFields": {}
      },
      "id": "get-completed-trips",
      "name": "Get Recently Completed Trips",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      },
      "notes": "Find trips that ended yesterday and haven't received review request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-trips",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ]
        }
      },
      "id": "if-has-trips",
      "name": "Has Completed Trips?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "trips",
        "updateKey": "id",
        "columns": "status",
        "additionalFields": {}
      },
      "id": "mark-trip-completed",
      "name": "Mark Trip as Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [880, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      },
      "notes": "Update trip status from 'in_progress' to 'completed'"
    },
    {
      "parameters": {
        "jsCode": "const trip = $input.item.json;\n\nconst reviewLink = `https://gobuddy.app/review/${trip.trip_id}`;\n\nlet message = `🌟 Welcome back from ${trip.destination}!\\n\\n`;\nmessage += `We hope you had an amazing ${trip.duration_days}-day adventure. Your feedback helps us improve and helps other travelers discover great experiences.\\n\\n`;\nmessage += `📝 How was your trip?\\n\\n`;\nmessage += `• Was your driver helpful and professional?\\n`;\nmessage += `• Did the itinerary meet your expectations?\\n`;\nmessage += `• Would you recommend GoBuddy to friends?\\n\\n`;\nmessage += `It only takes 2 minutes to share your thoughts!\\n\\n`;\nmessage += `As a thank you, you'll receive 10% off your next booking.\\n\\n`;\nmessage += `Tap to leave a review 👇`;\n\nreturn {\n  trip_id: trip.trip_id,\n  client_id: trip.client_id,\n  client_name: trip.client_name,\n  client_email: trip.client_email,\n  destination: trip.destination,\n  review_link: reviewLink,\n  notification: {\n    title: `🌟 How was ${trip.destination}? Share your experience!`,\n    body: message\n  }\n};"
      },
      "id": "format-review-request",
      "name": "Format Review Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT expo_push_token\nFROM push_tokens\nWHERE user_id = '{{ $json.client_id }}'\n  AND is_active = true",
        "additionalFields": {}
      },
      "id": "get-push-tokens",
      "name": "Get Push Tokens",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1100, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://exp.host/--/api/v2/push/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Get Push Tokens').item.json.expo_push_token }}"
            },
            {
              "name": "title",
              "value": "={{ $('Format Review Request').item.json.notification.title }}"
            },
            {
              "name": "body",
              "value": "={{ $('Format Review Request').item.json.notification.body }}"
            },
            {
              "name": "sound",
              "value": "default"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ type: 'review_request', tripId: $('Format Review Request').item.json.trip_id, reviewLink: $('Format Review Request').item.json.review_link }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-push",
      "name": "Send Push Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "notification_logs",
        "columns": "trip_id, recipient_id, notification_type, title, body, status, sent_at",
        "additionalFields": {}
      },
      "id": "log-notification",
      "name": "Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1540, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format Review Request').item.json.client_email }}",
        "subject": "🌟 How was your trip to {{ $('Format Review Request').item.json.destination }}?",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #00d084, #00a86b); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n    .button { display: inline-block; background: #00d084; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🌟 Welcome Back!</h1>\n      <p>How was your trip to {{ $('Format Review Request').item.json.destination }}?</p>\n    </div>\n    <div class=\"content\">\n      <p>Hi {{ $('Format Review Request').item.json.client_name }},</p>\n      <p>We hope you had an amazing adventure! Your feedback helps us improve and helps other travelers discover great experiences.</p>\n      <p>It only takes 2 minutes to share your thoughts, and as a thank you, you'll receive <strong>10% off your next booking</strong>.</p>\n      <center>\n        <a href=\"{{ $('Format Review Request').item.json.review_link }}\" class=\"button\">Leave a Review ⭐</a>\n      </center>\n      <p>Questions or concerns? Just reply to this email.</p>\n      <p>Happy travels,<br><strong>The GoBuddy Team</strong></p>\n    </div>\n    <div class=\"footer\">\n      <p>GoBuddy Adventures | Making travel unforgettable</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1320, 600],
      "credentials": {
        "smtp": {
          "id": "smtp",
          "name": "SMTP"
        }
      },
      "notes": "Also send review request via email"
    }
  ],
  "connections": {
    "10am Daily Check": {
      "main": [
        [
          {
            "node": "Get Recently Completed Trips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recently Completed Trips": {
      "main": [
        [
          {
            "node": "Has Completed Trips?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Completed Trips?": {
      "main": [
        [
          {
            "node": "Mark Trip as Completed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Review Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Review Request": {
      "main": [
        [
          {
            "node": "Get Push Tokens",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Push Tokens": {
      "main": [
        [
          {
            "node": "Send Push Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Push Notification": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "notifications"
    },
    {
      "name": "scheduled"
    },
    {
      "name": "email"
    }
  ]
}
