projects/travel-suite/n8n/workflows/trip-reminder.json
{
  "name": "GoBuddy Trip Reminder (24h Before)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "9am Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [220, 300],
      "notes": "Runs at 9:00 AM every day to check for trips starting tomorrow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  t.id as trip_id,\n  t.client_id,\n  t.start_date,\n  t.end_date,\n  p.full_name as client_name,\n  p.email as client_email,\n  i.trip_title,\n  i.destination,\n  i.duration_days\nFROM trips t\nJOIN profiles p ON t.client_id = p.id\nJOIN itineraries i ON t.itinerary_id = i.id\nWHERE t.status = 'confirmed'\n  AND t.start_date = CURRENT_DATE + INTERVAL '1 day'",
        "additionalFields": {}
      },
      "id": "get-trips-starting-tomorrow",
      "name": "Get Trips Starting Tomorrow",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-trips",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ]
        }
      },
      "id": "if-has-trips",
      "name": "Has Trips?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  tda.pickup_time,\n  tda.pickup_location,\n  ed.full_name as driver_name,\n  ed.phone as driver_phone,\n  ed.vehicle_type\nFROM trip_driver_assignments tda\nJOIN external_drivers ed ON tda.external_driver_id = ed.id\nWHERE tda.trip_id = '{{ $json.trip_id }}'\n  AND tda.day_number = 1",
        "additionalFields": {}
      },
      "id": "get-first-day-driver",
      "name": "Get First Day Driver",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [880, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trip = $('Get Trips Starting Tomorrow').item.json;\nconst driver = $('Get First Day Driver').item?.json || null;\n\nlet message = `🎉 Your adventure begins tomorrow!\\n\\n`;\nmessage += `📍 Destination: ${trip.destination}\\n`;\nmessage += `📅 Duration: ${trip.duration_days} days\\n`;\nmessage += `🗓️ Start Date: ${new Date(trip.start_date).toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric' })}\\n\\n`;\n\nif (driver) {\n  message += `🚗 Your Driver (Day 1):\\n`;\n  message += `• ${driver.driver_name}\\n`;\n  message += `• ${driver.vehicle_type}\\n`;\n  message += `• Pickup: ${driver.pickup_time || 'See itinerary'} at ${driver.pickup_location || 'To be confirmed'}\\n`;\n  message += `• Contact: ${driver.driver_phone}\\n\\n`;\n}\n\nmessage += `📱 Open the GoBuddy app for your full itinerary.\\n`;\nmessage += `✈️ Safe travels!`;\n\nreturn {\n  trip_id: trip.trip_id,\n  client_id: trip.client_id,\n  client_name: trip.client_name,\n  notification: {\n    title: `🎒 Trip to ${trip.destination} starts tomorrow!`,\n    body: message\n  }\n};"
      },
      "id": "format-reminder",
      "name": "Format Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT expo_push_token\nFROM push_tokens\nWHERE user_id = '{{ $json.client_id }}'\n  AND is_active = true",
        "additionalFields": {}
      },
      "id": "get-push-tokens",
      "name": "Get Push Tokens",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1320, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://exp.host/--/api/v2/push/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Get Push Tokens').item.json.expo_push_token }}"
            },
            {
              "name": "title",
              "value": "={{ $('Format Reminder').item.json.notification.title }}"
            },
            {
              "name": "body",
              "value": "={{ $('Format Reminder').item.json.notification.body }}"
            },
            {
              "name": "sound",
              "value": "default"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({ type: 'trip_reminder', tripId: $('Format Reminder').item.json.trip_id }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-push",
      "name": "Send Push Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "notification_logs",
        "columns": "trip_id, recipient_id, notification_type, title, body, status, sent_at",
        "additionalFields": {}
      },
      "id": "log-notification",
      "name": "Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1760, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "trips",
        "columns": "status",
        "additionalFields": {
          "returnFields": "id"
        }
      },
      "id": "update-trip-status",
      "name": "Mark Trip In Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1760, 500],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase Database"
        }
      },
      "notes": "Update trip status from 'confirmed' to 'in_progress' on start date"
    }
  ],
  "connections": {
    "9am Daily Check": {
      "main": [
        [
          {
            "node": "Get Trips Starting Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trips Starting Tomorrow": {
      "main": [
        [
          {
            "node": "Has Trips?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Trips?": {
      "main": [
        [
          {
            "node": "Get First Day Driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Day Driver": {
      "main": [
        [
          {
            "node": "Format Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reminder": {
      "main": [
        [
          {
            "node": "Get Push Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Push Tokens": {
      "main": [
        [
          {
            "node": "Send Push Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Push Notification": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "notifications"
    },
    {
      "name": "scheduled"
    }
  ]
}
